
<nav>
  <!-- Show username if authenticated -->
  <span *ngIf="username" class="username">
    Welcome, {{ username }}!
  </span>


    <a routerLink="/">Home</a>
    <a routerLink="/job-management" *ngIf="authService.getUserRole() === 'ROLE_ADMIN' || authService.getUserRole() === 'ROLE_RECRUITER'">
      Job Postings
    </a>
  <a routerLink="/recruiter-postings" *ngIf="authService.getUserRole() === 'ROLE_ADMIN' || authService.getUserRole() === 'ROLE_RECRUITER'">My Postings</a>

  <a
    routerLink="/user-management"
    *ngIf="authService.getUserRole() === 'ROLE_ADMIN'"
  >
    User Management
  </a>
  <!-- Logout Button -->
  <button *ngIf="authService.isAuthenticated()" (click)="logout()" class="btn logout-btn">
    Logout
  </button>
</nav>

<!-- Page Content -->
<router-outlet></router-outlet>


